<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Please enter your email !</mat-card-title>
        </mat-card-header>
        <form [formGroup]="forgotForm" (submit)="ForgotPassword(forgotForm.value)" class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="accent" class="btn-block">Submit</button>
        </form>
      </mat-card>

  </div>