<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Task list</mat-card-title>
    <mat-card-subtitle><a routerLink="/task">Create task</a></mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div class="container" style="margin-top: 70px;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Task</th>
            <th>Task Date</th>
            <th>Switch Task</th>
          </tr>
        </thead>
        <tbody>
          <tr >
    
            <td>1</td>
            <td>Create the web application form </td>
            <td> 15-01-2021 </td>
            <td> Rest API customize nodejs program </td>
            <td>
              <button class="btn btn-primary" > Select</button>
            </td>
          </tr>
          <tr >
    
            <td>2</td>
            <td>Create Signin application form </td>
            <td> 18-01-2021 </td>
            <td> Email validation and verification program </td>
            <td>
              <button class="btn btn-primary" > Select</button>
            </td>
          </tr>
          <tr >
    
            <td>3</td>
            <td>Dashboard form design with API verification </td>
            <td> 19-01-2021 </td>
            <td> Create the task form </td>
            <td>
              <button class="btn btn-primary" > Select</button>
            </td>
          </tr>
          <tr >
    
            <td>4</td>
            <td>Calendar date design </td>
            <td> 20-01-2021 </td>
            <td> Create user profile design form </td>
            <td>
              <button class="btn btn-primary" > Select</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card text-center" >
          <div class="card-header">
            # 
          </div>
          <div class="card-block">
            <h4 class="card-title"></h4>
            <p class="card-text">
    
            </p>    
          </div>
    
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
