<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 headclr">
    <h2 class="my-0 mr-md-auto font-weight-normal brand" ><a routerLink="/">Whitehatjr</a></h2>
    <a class="btn headclr mr-2" routerLink="/home">Home</a>
    <a class="btn headclr mr-2"  routerLink="/register">Register</a>
    <a class="btn headclr mr-2"  routerLink="/login">Login</a>
    <a class="btn headclr mr-2 p-3" routerLink="/dashboard">Dashboard</a>
    <span class="avatar avatar-sm rounded-circle">
      <img alt="Image placeholder" src="../../../assets/img/brand/dummy_profile.png">
    </span>
    <a  class="nav-link" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
  </div>
  