
<div class="auth-wrapper-login">
  <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="loginForm" (submit)="Login(loginForm.value)" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error *ngIf="isFieldInvalid('username')">
              Please inform your user name
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password"  matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password
          </mat-error>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Login</button>
      </form>
      <div class="p-2">
        Forgot Password <a href="/forgot-password">click me</a>
      </div>
    </mat-card>
  </div>
</div>
